/*--RESET CSS------------------------*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td, article, aside,
  canvas, details, embed, figure, figcaption, footer,
  header, hgroup, menu, nav, output, ruby, section,
  summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  strong, b {
    font-weight: bold;
  }
  em, i {
    font-style: italic;
  }
  a img {
    border: none;
  }
/*--------------------------------END-*/

/*--GLOBAL STYLES---------------------*/

  body {
    display : flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100vh;
  }

  .content-container {
      flex-grow: 1;
      padding-top: 10vh;
      width: 100%;
    }

  a {
    text-decoration: none;
  }
/*--------------------------------END-*/

/*--HEADER STYLES---------------------*/

  .header {
    background-color: #fff;
    max-width: 960px;
    position: fixed;
    width: 100%; 
    z-index: 20;
  }

  .header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .nav-links {
    display: inline-block;
    float: right;
    line-height: 1;
    margin: 2vh 2vw;
  }

  .header-nav > li{
    display: inline-block;
    font-size: 1rem;
    padding : 0.25em 0.5em;
  }

  /* place divider between li's and pad */

  .header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  }
/* -------------------------------END-*/

/*--SOCIAL STYLES---------------------*/
  .social-list {
    list-style: none;
    height: 5vh;
  }

  .social-list > li {
    display: block;
    float : right;
    height : 30px;
    padding : 0 0.5vw;
  }
/* -------------------------------END-*/

/*--FOOTER STYLES---------------------*/
  .footer {
    overflow: hidden;
    padding : 1vh 2vw 2vh;
    position : relative;
  }

  .footer-strap h3 {
    font-size: 3vh;
    line-height: 5vh;
    opacity: 0.9;
    padding: 0.5vw 0.5vw;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%)
  }

  .footer-strap img {
    height : 100%;
  }
/* -------------------------------END-*/

/*--MAIN SECTION STYLES---------------*/
 
  .callout-title {
    font-size: 5vw;
    padding: 2vh 2vw 3vh;
  }

  .callout-copy {
     padding : 2vh 5.5vw;
     font-size: 5vh;
     font-style: bold italic;
     text-align: center;
     opacity: 0.7;
  }

  .callout-copy img {
    display: inline;
    height : 8vh;
    opacity: 1;
    vertical-align: middle;
  }

  .main-section { 
     padding : 1vh 2vw;
  }
  .main-section p {
    color: #000;
    line-height: 1.5; 
    margin: 1em 0;
  }
/* -------------------------------END-*/

/*--PROJECT STYLES--------------------*/
  .project {
    margin: 0 1vw;
    padding: 1em 1em;
    text-align: center;
  }

  .project-title {
    height : 3vh;
    width : 100%;
  }

  .project-title h2 {
    display : inline-block;
    font-size: 4vh;
    vertical-align: top;
  }
  .project-title img {
    display : inline-block;
    height: 4vh;
  }
/* -------------------------------END-*/
