---
layout: default
title: Projects
description: Hand coded with heart
---
<div class="callout-section">
	<div class="callout-title">
		<h1>Projects</h1>
	</div>
	<div class="callout-copy">
		<h1>We love building stuff, here's some we prepared earlier.</h1>
	</div>
</div>


<div class="main-section-projects">
	{% for project in site.posts %}
		<div class="project">
			<div class="project-title">
				<h2>
					<a href="{{ project.url}}">{{ project.title }}</a>
				</h2>
				<h2>
				<span class="links">
					<img src="{{ project.langicon }}" alt="{{ project.title }} is written in {{ project.lang }}" >
						<img"/images/gems.png" alt="{{ project.title }} available as a Ruby Gem"/>
				{% if project.npm %}
					<a href="{{ project.npm}}">
						<img src="/images/npm.png" alt="{{ project.title }} available as a NPM package"/>
					</a>
				{% endif %}
				{% if project.gem %}
					<a href="{{ project.gem}}">
						<img src="/images/gems.png" alt="{{ project.title }} available as a Ruby Gem"/>
					</a>
				{% endif %}
				{% if project.repo %}
					<a href="{{ project.repo}}">
						<img src="/images/github.png" alt="{{ project.title }} source code available on GitHub"/>
					</a>
				{% endif %}
				{% if project.site %}
					<a href="{{ project.site}}">
						<img src="/images/livesite.png" alt="{{ project.title }} test site"/>
					</a>
				{% endif %}
				</span>
			</h2>
			</div>
			<div class="excerpt">
				{{ project.excerpt }}
			</div>

		</div>
	{% endfor %}
</div>




