<head>
  {% if page.title %}
    <title>{{ page.title }} | s33d</title>
  {% else %}
    <title>s33d</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="develop and grow with s33d.">
  {% endif %}

    <meta property="og:title" content="{{ page.title }} | s33d"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}/apple-touch-icon.png"/>
    <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300i,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    {% raw %}
      {% seo %}
    {% endraw %}
</head>