---
layout: default
description: {{ page.excerpt | strip_html }}
---
		


<div class="callout-section">
	<div class="callout-title">
		<h1>{{ page.title }}</h1>
	</div>
	<div class="callout-copy">
		<h1>{{ page.excerpt }}</h1>
	</div>
</div>

<div class="main-section project-text">
				{{ content }}
</div>

<div class="project-nav">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"><i class="fas fa-chevron-circle-left"></i>{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}<i class="fas fa-chevron-circle-right"></i></a>
  {% endif %}
</div>

